*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
Display property- change the display of the element

inline- consuming the width of the content; examples are img and span 

block- consuming the full width of the page, thus creating line space for the next element; examples are div and text-blocks such as h1-h6 and p elements

inline-block- works as inline element for its siblinngs but block elements outside its parent element
none- hiding the element from the website and it will not be shown visually; if the element is visually removed, other elements will adjust their position
*/

#div-1{
    background-color: green;
}

#span-1{
    background-color: purple;
    display: none;
}
#span-2{
    background-color: red;
    display: none;
}
#div-2{
    background-color: pink;
    display: inline-block;
}
#img{
    width: 250px;
    height: 250px;
    display: inline-block;
}

#p-1 {
    background-color: #87cefa;

}

#p-2{
    background-color: rgb(255,105, 180);
    width: 60%;
}

#p-3{
    background-color: yellow;
    width: 40;
}

#span-sample{
    width: 60%;
    background-color: gray;
}

.sample {
    display: inline-block;
    width:30%;
    border: 1px solid black;
}

.img-float {
    width: 250px;
    height: 250px;
    /* float left in the container - used to position and format content */
    float: left;
}

.box {
    background-color: red;
    border: 1px solid black;
    margin: 5px;

}

.fifty-percent{
    width: 50%;

}

.one-hundred-pixels{
    width: 100px;
}

.parent{
    width: 135px;
    border: 2px solid navy;
    font-size: 30px;
}

.fifty-vw {
    width: 50vw;
}

.twenty-five-vh{
    height: 25vh;
}
/* 
rem- root element measurement; the measurement is relative to the root element which is html.
default: 16px;

em - element measurement; the measurement is realitve to its parent element. 
*/
.one-rem{
    font-size: 1rem;
}

.one-em{
    font-size: 1em;
}

.two-rem {
    font-size: 2rem;

}
.two-em {
    font-size: 2em;

}
/* 
the % unit is also based on the parent element
*/
.two-hundred-percent{
    font-size: 200%;
}


/* use the background class and refactor its element to have a minimun height of 100vh and background color of grey 

send the output in the google chat*/

.background{
    min-height: 100vh;
    /* background-color: grey; */
    /* the background image is outsourced in the internet through the use of url() value */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
    /* determines whether the client/dev wants to repeat the background should it not fit the container */
    background-repeat: no-repeat;
    /* specifies the size of the background of the image */
    background-size: 100%;
    /* specifies the position of the background image relative to the HTML element */
    /* the value of this property requires two: x and y */
    background-position: center top;
    /* background-attachement is used to set whether a background image scrolls wiht the rest of the page  */
    background-attachment: scroll;
}

.title {
    color: white;
    text-align: center;
    font-size: 5rem;
    /* get rid of space around the element */
    margin: 0;
    line-height: 35rem;

}

.container-bg{
    background-color: rgba(0,0,0,0.5);
    min-height: 100vh;
}


/* CSS Positioning */

/* Static- default position for every element, this follows the normal flow of elements; hindi gagalaw 

Relative- although it's still following the normal flow, it is affected by the l b r t measurements

Absolute- positioned relative to its parent elements. The element is removed from the normal document flow. The other elements will behave as if the element is not in the document. No space is created for the element.

    -the element is positioned relative to its closest positioned (position prop another than static) ancestor. 

    Fixed - similar to absolute is terms of being removed from the normal flow. it is not affected by any parent element and instead it is always positioned relative to the element itself

Sticky- combination of relative and fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed elements (sticks to the top like nav bar pwede)
*/

.parent-element{
    background-color: skyblue;
    padding: 10px;
    position: relative; 
    height: 800vh;
}
.child-one{
    background-color: gray;
    padding: 10px;
}

.child-two{
    background-color: yellow;
    padding: 10px;
    /* position: static is not affected by left bottom top or right measurements */
    /* position: relative - normal flow; but is affected by l b r t measurements */
    /* position: absolute; - not in normal flow; is affected by parent/ancestor element's position */
    /* position: fixed; - not in the normal flow; is relative to the position fo the element itself */
    position: sticky; 
    top: 10px
}

.child-three{
    background-color: gray;
    padding: 10px;
}

html {
    height: 800vh;
}

.container {
    position: relative;

}
/* z-index will determine the order of the stack */
.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;

}

/* gray box is above green and black box */
.gray-box {
    position: absolute;
    z-index: 3;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}

/* green box about black box */
.green-box {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    width: 35%;
    height: 200px;
    left: 270px;
    top: -15px;
}