 /* CSS reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Nav bar */
nav {
    padding:0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    list-style-type: none;
    position: sticky;
   
}

nav .nav, nav .nav-logo{
    /* creates space around the elemt but outside its border */
    margin: .5rem;
    /* li are naturally block elements. with the use of display: inline we were able to transform li elements to become inline so they would appear beside each other */
    display: inline; 

}

/* go back to positioning this */
.nav-logo {
 text-align: left;
 padding-left: 50px;
 vertical-align: bottom;
}

.right-nav {
    text-align: right;
    
    width: 100%;
}

.tuitt-button {
    color: white;
    /* font-weight to change the thickness fo the text of the element */
    font-weight: bold;
    background-color: #c2195b;
    border-radius:25px;
    font-size: 1rem;
    /* to create space to make the button bigger and to make the content Apply Now more noticeable */
    padding: 1rem;
}

#bg-image {
    height: 40vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.front-bg {
    background-color: rgba(0,0,0,0.5);
    min-height: 40vh;
}
.container {
    text-align: right;
    padding-right: 30px;
    padding-top:20px;
    width:30%;
    position: absolute;
    left: 60%
}


.title {
    font-family: 'Zilla Slab';
    color: white;
}
.subtitle {
    color: white;
    font-size: 15px;
}

.apply-button {
    color: white;
    /* font-weight to change the thickness fo the text of the element */
    font-weight: bold;
    background-color: #c2195b;
    border-radius:25px;
    font-size: 15px;
    /* to create space to make the button bigger and to make the content Apply Now more noticeable */
    padding: 1rem;
}

.title-2 {
    font-family: 'Zilla Slab';
    /* color: white; */
}

/* done until number 9 */

.pre-footer {
    background-color: #f7fbfb;
    height: 40vh;
    padding: 100px;
    text-align: center;
}
.book-button {
    background-color: #336589;
    border-radius:25px;
    font-size: 1rem;
    /* to create space to make the button bigger and to make the content Apply Now more noticeable */
    padding: 1rem;
    color: white;
    font-weight: bold;
}

.footer{
    text-align: center;

}
.intro {
    height: 30vh;
    padding: 100px;
    text-align: center;
}

/* .intro-description {
    text-align: left;
} */
